$otypes: (
    o: "overflow",
    oy: "overflow-y",
    ox: "overflow-x"
);

@each $key, $val in $otypes {
    @each $value in ("hidden", "scroll", "auto") {
        .#{$key}-#{$value} {
            #{$val}: #{$value};
        }
    }
}
