$weightCount: 9;
@for $i from 1 through $weightCount {
    .font-weight-#{$i}00 {
        font-weight: unquote('#{$i}00') !important;
    }
}

$sizeCount: 9;
@for $i from 1 through $sizeCount {
    .font-size-#{$i} {
        font-size: unquote('#{$i*.25}em') !important;
    }
}
