$weightCount: 9;
@for $i from 1 through $weightCount {
    .fw-#{$i}00 {
        font-weight: unquote('#{$i}00') !important;
    }
}

$sizeCount: 20;
@for $i from 1 through $sizeCount {
    .fs-#{$i} {
        font-size: unquote('#{$i*.25}em') !important;
    }
}
